# Protection basique contre les DoS
<IfModule mod_evasive20.c>
    DOSHashTableSize    3097
    DOSPageCount        2
    DOSSiteCount       50
    DOSPageInterval     1
    DOSSiteInterval     1
    DOSBlockingPeriod  10
</IfModule>

# Limiter la taille des requêtes
LimitRequestBody 10240000

# Protection supplémentaire
<IfModule mod_rewrite.c>
    RewriteEngine On
    # Bloquer les user agents vides
    RewriteCond %{HTTP_USER_AGENT} ^$ [NC]
    RewriteRule ^ - [F]
</IfModule>

# Désactiver l'affichage du contenu des répertoires
Options -Indexes

# Protection XSS et autres en-têtes de sécurité
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
</IfModule>